<div id="view-home">
    <div id="home-topleft" >
        <div class="square-button float-left white" ng-show="showListButton" ng-click="showhideLeftPanel()">
            <img src="assets/img/menu.svg" />                        
        </div>        
        <div class="square-bar float-left white" ng-click="showDropdown()">            
            <span>{{outletHeader}}</span>
            <img src="assets/img/arrow-down.svg" />                        
        </div>  
        <div class="square-bar float-left white">
            <span>Distance (m):</span>
            <input placeholder="meter" ng-model="config.distance" type="number" min="100" >
            <span>Max Outlets:</span>
            <input placeholder="number" ng-model="config.item_count" min="1" >
            <span> </span>
        </div>
        <div class="square-button float-left blue" ng-show="allowRefresh" ng-click="refresh()">
            <img src="assets/img/refresh.svg" />
        </div>  
        <div ng-show="showSyncButton" class="square-button float-left blue" ng-click="syncOutlets()">
            <img src="assets/img/sync.svg" />
        </div>
        <div id="outlet-dropdown" class="dropdown">
            <div class="dropdown-item" ng-click="changeOutletView(0)"><span>Near-by Outlets</span></div>
            <div class="dropdown-item" ng-click="changeOutletView(1)"><span>New Outlets</span></div>
            <div class="dropdown-item" ng-click="changeOutletView(2)"><span>Updated Outlets</span></div>
            <div class="dropdown-item" ng-show="hasAuditRole" ng-click="changeOutletView(4)"><span>Auditted Outlets</span></div>
        </div>
    </div>

    <div id="outletPanel" class="slider-left" ng-click="hideDropdown()" >
        <div class="expandcollapse-box" ng-show="showExpandButton" ng-click="showLeftPanel()">
            <img src="assets/img/arrow-right-white.svg" />
        </div>
        <div class="expandcollapse-box" ng-show="showCollapseButton" ng-click="closeLeftPanel()">
            <img src="assets/img/arrow-left-white.svg" />
        </div>            
        <div id="slider-left-content">
            <div class="outlet-list-panel">
                <span style="margin-left:0px;" ng-show="showNoOutletFound">No outlet found</span>
                <table class="outlet-table" ng-repeat="outlet in outlets |  startFrom:currentPage*pageSize | limitTo:pageSize " ng-click="hideDropdown()">
                    <tr>
                        <td class="outlet-indicator">
                            <div class="{{outlet.IsDraft ? 'circle-gray' : (outlet.IsSynced ? 'circle' : 'circle-org')}}">{{$index + 1 + (currentPage) * pageSize}}</div>
                        </td>
                        <td>
                            <table class="outlet-detail-table">
                                <tr>
                                    <td colspan="4"s>
                                        <span class="large-text blue-color" ng-click="openOutlet($index)">{{outlet.Name}}</span>					
                                        <img class="outlet-header-right small-text gray-color" ng-show="outlet.IsDraft" src="assets/img/delete.svg" ng-click="deleteOutlet($index)" />
                                        <span class="outlet-header-right small-text gray-color">
                                            {{outlet.Distance}} m
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="normal-text black-color" colspan="3">
                                        <span class="small-text gray-color" ng-show="viewOutletFull">Address: </span>
                                        <span class="normal-text black-color">{{outlet.FullAddress}}</span>
                                    </td>
                                    <td ng-show="viewOutletFull">
                                        <span class="small-text gray-color">Closed Date: </span>
                                        <span class="normal-text black-color">{{outlet.CloseDate ? outlet.CloseDate : "-"}}</span>
                                    <td>
                                </tr>
                                <tr ng-show="viewOutletFull">
                                    <td>
                                        <span class="small-text gray-color">Outlet Type: </span>
                                        <span class="normal-text black-color">{{outlet.OutletTypeName}}</span>
                                    </td>
                                    <td>
                                        <span class="small-text gray-color">Phone: </span>
                                        <span class="normal-text black-color">{{outlet.Phone}}</span>
                                    </td>
                                    <td>
                                        <span class="small-text gray-color">Last Contact: </span>
                                        <span class="normal-text black-color">{{outlet.LastContact ? outlet.LastContact : "-"}}</span>
                                    </td>   
                                    <td>
                                        <span class="small-text gray-color">Tracking: </span>
                                        <span class="normal-text black-color">{{outlet.IsTracked ? "Yes" : "No"}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text gray-color">
                                        Last Changed: {{outlet.AmendDate}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>                     
        </div>    
        <div id="paging-bar" ng-show="showNaviBar" >
            <button ng-disabled="currentPage >= outlets.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                <img src="assets/img/arrow-right.svg" />
            </button> 
             <div class="square-bar float-right white">
                <span> {{currentPage+1}} / {{numberOfPages()}}</span>               
            </div>     
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">                
                <img src="assets/img/arrow-left.svg" />
            </button>           
        
            <div class="searchbox">
                <input class="search" placeholder="Search" ng-model="searchName" ng-change="searchChanged()">
                <img src="assets/img/search.svg" class="search-img" ng-show="showSearchImg" />
                <img src="assets/img/clear.svg" class="search-img" ng-show="showClearSearchImg" ng-click='clearSearch()'/>
            </div>      
        </div>        
    </div>

    <div id="home-topright" >
        <!--<div class="box" ng-show="showSetingExpand" ng-click="showhideRightPanel()">
            <img src="assets/img/arrow-left.svg" />
        </div>-->
        <div class="cirle-button white float-right" ng-show="showSettingCollapse" ng-click="showRightPanel()">
            <img src="assets/img/arrow-right.svg" />
        </div>
        <div class="cirle-button white float-right" ng-show="showSettingExpand" ng-click="showRightPanel()">
            <img src="assets/img/setting-white.svg" />
        </div>    
    </div>

    <div id="home-topright-street">      
        <div class="square-button blue" ng-click="closeStreetViewMode()">
            <img src="assets/img/close.svg" />
        </div>        
    </div>

     <div id="home-topright-test">      
        <input placeholder="lat" ng-model="testlat" style="width:36px;height36px;">
        <input placeholder="lng" ng-model="testlng" style="width:36px;height36px;" >        
        <a ng-click="testChangeLocation()">SET<a/>
    </div>

    <div id="configPanel" class="slider-right" >
		<!--<div class=hidden-overlay" ng-click="showRightPanel()"></div> -->
        <div id="slider-right-content">            
            <md-content layout-padding="" class="md-content-white">
                <form name="configForm">                   
                    <md-input-container class="md-block" style="margin-bottom:4px;">
                        <label>{{ resource.text_Distance }}</label>
                        <input type="number" required="" name="distance" ng-model="config.distance">                    
                    </md-input-container>

                    <md-input-container class="md-block" style="margin-bottom:4px;">
                        <label>{{ resource.text_ItemCount }}</label>
                        <input type="number" required="" name="item_count" ng-model="config.item_count">                   
                    </md-input-container>

                     <md-input-container class="md-block" style="margin-bottom:4px;">
                        <label>Outlet Page Size</label>
                        <input type="number" required="" name="page_size" ng-model="config.page_size">                  
                    </md-input-container>
                  
                    <div class="md-block-item" style="margin-bottom:0px;margin-top:-12px;">
                        <div class="md-block-item-title">Mode</div>
                        <md-switch class="md-primary" ng-model="config.mode_online">{{config.mode_online ? "Online" : "Offline"}}</md-switch>
                    </div>     
                    <div class="md-block-item" style="margin-bottom:0px;">                        
                        <md-button class="md-primary md-raised demo-menu-open-button" ng-click="changeView('login')" style="width:124px">
                           LOGOUT <img src="assets/img/logout.svg" class="md-button-image">
                        </md-button>      
                         <md-button class="md-primary md-raised demo-menu-open-button" ng-click="syncOutlets()" style="width:124px">
                           SYNC <img src="assets/img/sync.svg" class="md-button-image">
                        </md-button>                                          
                    </div>                                       
                </form>
            </md-content>                            
        </div>
    </div>

    <div id="map-container" >
        <div id="map"></div>
    </div>

    <div id="home-bottomright" >
        <div class="cirle-button float-top blue" ng-click="createNewOutlet()">
            <img src="assets/img/add.svg" />
        </div>
         <div class="cirle-button float-top white" ng-click="panToCurLocation()">
            <img src="assets/img/curloccation.svg" />
        </div>        
    </div>      
</div>

