<div id="view-home">
    <div id="home-topleft" >
        <div class="square-button float-left white" ng-show="showListButton" ng-click="showhideOutletPanel()">
            <img src="assets/img/menu.svg" ng-hide="viewOutletPanel"/>                        
            <img src="assets/img/menu-blue.svg" ng-show="viewOutletPanel"/>
        </div>        
        <div class="square-bar float-left white" ng-click="showDropdown()">            
            <span>{{outletHeader}}</span>
            <img src="assets/img/arrow-down.svg" />                        
        </div>  
        <div class="square-bar float-left white">
            <span>{{R.distance}} (m):</span>
            <input placeholder="meter" ng-model="config.distance" type="number" min="50" >
            <span>{{R.max_outlets}}:</span>
            <input placeholder="number" ng-model="config.item_count" min="1" >
            <span> </span>
        </div>
        <div class="square-button float-left blue" ng-show="allowRefresh" ng-click="refresh()">
            <img src="assets/img/refresh.svg" />
        </div>  
        <div ng-show="showSyncButton" class="square-button float-left blue" ng-click="syncOutlets()">
            <img src="assets/img/sync.svg" />
        </div>
        <div id="outlet-dropdown" class="dropdown">
            <div class="dropdown-item" ng-click="changeOutletView(0)"><img src="assets/img/outlet-near.svg"/><span>{{R.near_by_outlets}}</span></div>
            <div class="dropdown-item" ng-click="changeOutletView(1)"><img src="assets/img/outlet-new.svg" /><span>{{R.new_outlets}}</span></div>
            <div class="dropdown-item" ng-click="changeOutletView(2)"><img src="assets/img/outlet-edit.svg" /><span>{{R.updated_outlets}}</span></div>
            <div class="dropdown-item" ng-show="hasAuditRole" ng-click="changeOutletView(3)"><img src="assets/img/outlet-audit.svg" /><span>{{R.auditted_outlets}}</span></div>
        </div>
    </div>

    <div id="outletPanel" class="slider-left" ng-click="hideDropdown()" >
        <div class="expandcollapse-box" ng-show="showExpandButton" ng-click="expandOutletPanel()">
            <img src="assets/img/arrow-right-white.svg" />
        </div>
        <div class="expandcollapse-box" ng-show="showCollapseButton" ng-click="collapseOutletPanel()">
            <img src="assets/img/arrow-left-white.svg" />
        </div>
        <div id="slider-left-content">
            <div class="outlet-list-panel" id="outlet-list" >
                <span id="span-outlet" style="margin-left:0px; color:red" ng-show="showNoOutletFound">{{R.no_outlet_found}}</span>
                <span id="span-outlet-top" style="float:left;left:0px;top:0px;width:0px;height:0px;"></span>
                <table class="outlet-table" ng-repeat="outlet in outlets |  startFrom:currentPage*pageSize | limitTo:pageSize " ng-click="hideDropdown()">
                    <tr>
                        <td class="outlet-indicator">
                            <div class="{{outlet.IsNew ? 'circle-yellow' : (outlet.IsDenied ? 'circle-gray' : 'circle-green')}}">{{$index + 1 + (currentPage) * pageSize}}</div>
                        </td>
                        <td>
                            <table class="outlet-detail-table">
                               
                                <tr>
                                    <td colspan="4">
                                        <span class="large-text blue-color span-fix" ng-hide="viewOutletFull" ng-click="openOutlet($index)">{{outlet.Name}} ({{outlet.ID}})</span>  
                                        <span class="large-text blue-color" ng-show="viewOutletFull" ng-click="openOutlet($index)">{{outlet.Name}} {{outlet.IDalias}}</span>   
                                        <span class="outlet-header-right small-text gray-color">
                                            {{outlet.Distance}} m
                                        </span>                             
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="small-text gray-color" ng-show="viewOutletFull">{{R.address}}: </span>
                                        <span class="normal-text black-color">{{outlet.FullAddress}}</span>
                                    </td>
                                   
                                     <td>
                                        <span class="small-text gray-color" ng-show="viewOutletFull">{{R.last_visit}}: </span>
                                        <span class="normal-text black-color" ng-show="viewOutletFull">{{outlet.LastVisit}}</span>
                                    </td>
                                   
                                    <td>
                                        <span class="small-text gray-color" ng-show="viewOutletFull">{{R.closed_date}}: </span>
                                        <span class="normal-text black-color" ng-show="viewOutletFull">{{outlet.CloseDate ? outlet.CloseDate : "-"}}</span>
                                    <td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="small-text gray-color" ng-show="viewOutletFull">{{R.outlet_type}}: </span>
                                        <span class="normal-text black-color">{{outlet.OutletTypeName}}</span>
                                    </td>
                                    <td ng-show="viewOutletFull">
                                        <span class="small-text gray-color" >{{R.phone}}: </span>
                                        <span class="normal-text black-color">{{outlet.Phone}}</span>
                                    </td>
                                    <td ng-show="viewOutletFull">
                                        <span class="small-text gray-color">{{R.last_contact}}: </span>
                                        <span class="normal-text black-color">{{outlet.LastContact ? outlet.LastContact : "-"}}</span>
                                    </td>   
                                    <td ng-show="viewOutletFull">
                                        <span class="small-text gray-color">{{R.tracking}}: </span>
                                        <span class="normal-text black-color">{{outlet.IsTracked ? "Yes" : "No"}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <span class="small-text gray-color" ng-show="viewOutletFull">{{R.name}}: </span>
                                        <span class="normal-text black-color">{{outlet.ExtractName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <span class="small-text gray-color" ng-show="viewOutletFull">{{R.last_change}}: </span>
                                        <span class="small-text gray-color">{{outlet.AmendDate ? outlet.AmendDate : "-"}}</span>

                                        <div class="m-flat-button-small float-right blue" ng-show="outlet.canPost" ng-click="postOutlet(outlet)"><span>Post</span></div>
                                        <div class="m-flat-button-small float-right blue" ng-show="outlet.canRevise" ng-click="reviseOutlet(outlet)"><span>Revise</span></div>
                                        <div class="m-flat-button-small float-right red" ng-show="outlet.IsDraft" ng-click="deleteOutlet(outlet)"><span>Delete</span></div>

                                        <div class="float-right" ng-show="outlet.viewAuditStatus">
                                            <span class="small-text green-color" ng-show="outlet.IsAudited">{{outlet.auditResult}}</span>
                                            <span class="small-text gray-color" ng-hide="outlet.IsAudited">{{outlet.auditResult}}</span>
                                        </div>
                                        <!--<img class="outlet-header-right small-text gray-color" style="height:24px; width:24px; margin-left:4px" ng-show="outlet.IsDraft" src="assets/img/clear.svg" ng-click="deleteOutlet($index)" />
                                        <img class="outlet-header-right small-text gray-color" style="height:24px; width:24px;" ng-show="outlet.canPost" src="assets/img/post.svg" ng-click="postOutlet($index)" />
                                        <img class="outlet-header-right small-text gray-color" style="height:24px; width:24px;" ng-show="outlet.canRevise" src="assets/img/unpost.svg" ng-click="reviseOutlet($index)" />-->
                                    </td>                                                                   
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>                     
        </div>    
        <div id="paging-bar" ng-show="showNaviBar" >
            <button ng-disabled="currentPage >= outlets.length/pageSize - 1" ng-click="currentPage = currentPage+1">
                <img src="assets/img/arrow-right.svg" />
            </button> 
             <div class="square-bar float-right white">
                <span> {{numberOfPages() > 0 ? currentPage + 1 : 0}} / {{numberOfPages()}}</span>               
            </div>     
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">                
                <img src="assets/img/arrow-left.svg" />
            </button>           
        
            <div class="searchbox">
                <input class="search" placeholder="{{R.search}}" ng-model="searchName" ng-change="searchChanged()">
                <img src="assets/img/search.svg" class="search-img" ng-show="showSearchImg" />
                <img src="assets/img/clear.svg" class="search-img" ng-show="showClearSearchImg" ng-click='clearSearch()'/>
            </div>      
        </div>        
    </div>

    <div id="home-topright" >        
        <div class="cirle-button white float-right" ng-show="showSettingCollapse" ng-click="showHideRightPanel()">
            <img src="assets/img/arrow-right.svg" />
        </div>
        <div class="cirle-button white float-right" ng-show="showSettingExpand" ng-click="showHideRightPanel()">
            <img src="assets/img/setting-white.svg" />
        </div>    
        <div class="cirle-button blue float-right" style="z-index:2" ng-click="createNewOutlet()">
            <img src="assets/img/add.svg" />
        </div>

        <div class="square-box-red float-right">
            <span id="status" class="blue-color"></span>
        </div>   
    </div>

    <!--<div id="home-topright-sub1">
        <div class="cirle-button blue float-top-right" style="z-index:2" ng-click="createNewOutlet()">
            <img src="assets/img/add.svg" />
        </div>
    </div>-->

    <div id="home-topright-street">      
        <div class="square-button blue" ng-click="closeStreetViewMode()">
            <img src="assets/img/close.svg" />
        </div>        
    </div>

     <div id="home-topright-test" ng-show="config.enable_devmode">      
        <input placeholder="acc" ng-model="testacc" style="width:40px;height:36px;" type="number">
        <input placeholder="lat" ng-model="testlat" style="width:80px;height:36px;" type="number">
        <input placeholder="lng" ng-model="testlng" style="width:80px;height:36px;" type="number">
        <button ng-click="testChangeLocation()">SET</button>
    </div>

    <div id="home-topright-offline">      
       <div class="square-box-red float-right">
            <span>{{R.you_are_in_offline_mode}}</span>
        </div>         
    </div>

    <div id="configPanel" class="slider-right" >
		<!--<div class=hidden-overlay" ng-click="showRightPanel()"></div> -->
        <div id="slider-right-content">            
            <md-content layout-padding="" class="md-content-white">
                <form name="configForm">                   
                    <md-input-container class="md-block" style="margin-bottom:4px;">
                        <label>{{R.distance}}</label>
                        <input type="number" required="" name="distance" ng-model="config.distance" min="50">                    
                    </md-input-container>

                    <md-input-container class="md-block" style="margin-bottom:4px;">
                        <label>{{R.max_outlets}}</label>
                        <input type="number" required="" name="item_count" ng-model="config.item_count" min="1">                   
                    </md-input-container>

                     <md-input-container class="md-block" style="margin-bottom:4px;">
                        <label>{{R.page_size}}</label>
                        <input type="number" required="" name="page_size" ng-model="config.page_size"  min="5">                  
                    </md-input-container>
                   
                    <md-input-container class="md-block" flex-gt-sm="" style="margin-bottom:20px;">
                        <label>{{ R.working_province }}</label>
                        <md-select ng-model="config.province_id" ng-change="provinceChanged(0)">
                            <md-option ng-repeat="p in dprovinces" value="{{p.id}}">                                
                                {{p.name}}
                                <img ng-show="p.download" src="assets/img/check.svg" style="width:24px;height:24px;margin:0px;position:absolute;right:16px;" />
                            </md-option>
                        </md-select>
                        <div id="buttonDownload" class="m-flat-button float-right margin-top-4" ng-click="downloadOutlets()">
                            <img src="assets/img/download.svg">
                            <span>{{R.btn_download}}</span>
                        </div>
                        <div id="buttonRedownload" class="m-flat-button float-right margin-top-4 display-none" ng-click="downloadOutlets()">
                            <img src="assets/img/download.svg">
                            <span>{{R.btn_redownload}}</span>
                        </div>                
                        <div id="buttonDeleteOffline" class="m-flat-button float-right margin-top-4 display-none" ng-click="deleteOfflineOutlets()">
                            <img src="assets/img/clear.svg">
                            <span>{{R.btn_deleteOffline}}</span>
                        </div>
                    </md-input-container>

                    <div class="md-block-item" style="margin-bottom:0px;margin-top:-16px;margin-left:4px" ng-show="config.enable_devmode">
                        <div class="md-block-item-title small-text">Mode (Online/Offline)</div>
                        <md-switch class="md-primary" ng-model="config.mode_online">{{config.mode_online ? "Online" : "Offline"}}</md-switch>
                    </div>
                </form>
            </md-content>

            <div style="position:absolute; bottom:4px; right:0px; height:64px; left:12px;z-index:3;">
                <div class="text-button float-left" ng-click="">
                    <!--<div><img src="assets/img/download.svg"></div>
                    <div class="title">{{R.btn_download}}</div>-->
                </div>               
                <div class="text-button float-left" ng-click="syncOutlets()">
                    <div><img src="assets/img/sync.svg"></div>
                    <div class="title">{{R.btn_sync}}</div>
                </div>
                <div class="text-button float-left" ng-click="changeView('login')">
                    <div><img src="assets/img/logout.svg"></div>
                    <div class="title">{{R.btn_logout}}</div>
                </div>
            </div>              
        </div>
    </div>

    <div id="map-container" >
        <div id="map"></div>
    </div>

    <div id="home-bottomright" >
        <!--<div class="square-button-small float-top blue" ng-click="createNewOutlet()">
            <img src="assets/img/add.svg" />
        </div>-->
         <div class="square-button-small float-top white" ng-click="panToCurLocation()">
            <img src="assets/img/curloccation.svg" />
        </div>        
    </div>      
</div>