<div id="view-login" class="main-view">
    <div class="center-view">
        <div id="loginscreen" class="box-right">
            <img src="assets/img/setting.svg" id="login-setting-button" ng-click="changeMode()"/>
            <image id="login-logo" src="images/logo.png" />
            <div id="login-form">
                <md-content layout-padding="" class="md-content-white">
                    <form name="loginForm">
                        <md-input-container class="md-block">
                            <label>{{ resource.text_EnterUserID }}</label>
                            <input required="" name="userName" ng-model="userName">
                            <!--<div ng-messages="loginForm.user.id.$error" role="alert">
                                <div ng-message="required">{{ resource.text_ValRequired }}</div>
                            </div>-->
                        </md-input-container>
                    
                        <md-input-container class="md-block">
                            <label>{{ resource.text_EnterPassword }}</label>
                            <input required="" name="password" type="password" ng-model="password">
                            <!--<div ng-messages="loginForm.user.id.$error" role="alert">
                                <div ng-message="required">{{ resource.text_ValRequired }}</div>                                
                            </div>-->
                        </md-input-container>
                    </form>
                </md-content>
            </div>

            <div class="action-buttons">                
                <div class="button raised blue" ng-click="login()">{{ resource.text_Login }}</div>
                <div class="button raised" ng-click="exit()">{{ resource.text_Exit }}</div>
                <!--<md-button class="md-raised md-primary" ng-click="login()">{{ resource.text_Login }}</md-button>
                <md-button class="md-raised" ng-click="exit()">{{ resource.text_Exit }}</md-button>-->                
            </div>
        </div>

        <div id="configscreen" class="box-right" style="padding:0px;display:none">            
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">                    
                    <h2>
                    <span>SETTINGS</span>
                    </h2>
                    <span flex=""></span>                    
                    <!--<md-button class="md-icon-button" aria-label="Settings" ng-click="changeMode(0)">
                        <md-icon md-svg-icon="assets/img/close.svg"></md-icon>
                    </md-button>-->                    
                </div>
            </md-toolbar>

            <div id="config-form">
                <md-content layout-padding="" class="md-content-white">
                    <form name="configForm">
                        <md-input-container class="md-block" style="margin-bottom:32px;" ng-show="config.enable_devmode">
                            <label>{{ resource.text_EnterProtocol }}</label>
                            <md-select ng-model="config.protocol">
                                <md-option value="http">
                                    HTTP
                                </md-option>
                                <md-option value="https">
                                    HTTPS
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" style="margin-bottom:0px;">
                            <label>{{ resource.text_EnterIPAddress }}</label>
                            <input required="" name="ipAddress" ng-model="config.ip">
                            <!--<div ng-messages="configForm.ipAddress.$error" role="alert">
                                <div ng-message="required">{{ resource.text_ValRequired }}</div>
                            </div>-->
                        </md-input-container>

                        <md-input-container class="md-block" style="margin-bottom:0px;">
                            <label>{{ resource.text_EnterPort }}</label>
                            <input required="" name="ipAddress" ng-model="config.port">
                            <!--<div ng-messages="configForm.ipAddress.$error" role="alert">
                                <div ng-message="required">{{ resource.text_ValRequired }}</div>
                            </div>-->
                        </md-input-container>   

                        <div class="md-block-item" style="margin-bottom:0px;margin-top:-16px;margin-left:4px" ng-show="config.enable_devmode">
                            <div class="md-block-item-title small-text">Mode (Online/Offline)</div>
                            <md-switch class="md-primary" ng-model="config.mode_online">{{config.mode_online ? "Online" : "Offline"}}</md-switch>
                        </div>
                    </form>
                </md-content>
            </div>       
            
            <div class="action-buttons">
                <div class="button raised blue" ng-click="closeConfig(1)">Save</div>
                <div class="button raised" ng-click="closeConfig(0)">Cancel</div>        
            </div>    
        </div>
    </div>
</div>