<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div>Name: {{outlet.Name}}</div>
            <span flex=""></span>
            <div>Distance: {{outlet.Distance}}</div>
        </div>
    </md-toolbar>
    <md-content layout-padding="" class="popup-content">
        <form name="userForm">
            <div layout-gt-sm="row">
                <div class="md-block-item">
                    <span class="span-title">ID</span><br />
                    <span class="span-value">{{outlet.ID}}</span>
                </div>    
                <div class="md-block-item" flex-gt-sm="">
                    <span class="span-title">Address</span><br />
                    <span class="span-value">{{outlet.FullAddress}}</span>
                </div>                 
                <div class="md-block-item">
                    <span class="span-title">Outlet Type</span><br />
                    <span class="span-value">{{outlet.OutletTypeName}}</span>
                </div>    
            </div>

            <div layout-gt-sm="row">
                <div class="md-block-item" flex-gt-sm="">
                    <span class="span-title">Phone</span><br />
                    <span class="span-value">{{outlet.Phone}}</span>
                    <hr />
                </div>   
                <div class="md-block-item" flex-gt-sm="">
                    <span class="span-title">Last Contact</span><br />
                    <span class="span-value">{{outlet.LastContact ? outlet.LastContact : "-"}}</span>
                    <hr />
                </div>   
                <div class="md-block-item" flex-gt-sm="">
                    <span class="span-title">Last Visit</span><br />
                    <span class="span-value">{{outlet.LastVisit ? outlet.LastVisit : "-"}}</span>
                </div>  
                <div class="md-block-item" flex-gt-sm="">
                    <span class="span-title">Closed Date</span><br />
                    <span class="span-value">{{outlet.CloseDate ? outlet.CloseDate : "-"}}</span>
                </div>  
                <div class="md-block-item" flex-gt-sm="" ng-show="openedOptionVisible" style="min-width:80px">
                    <span class="span-title">{{outlet.IsOpened ? "Opened" : "Closed"}}</span><br />
                    <md-checkbox md-no-ink="" aria-label="Is Opened" ng-model="outlet.IsOpened" class="md-primary">
                    </md-checkbox>
                </div>  
                <div class="md-block-item" flex-gt-sm="" ng-show="trackedOptionVisible" style="min-width:80px">
                    <span class="span-title">{{outlet.IsTracked ? "Tracking" : "Non-Tracking"}}</span><br />
                    <md-checkbox md-no-ink="" aria-label="Is Tracked" ng-model="outlet.IsTracked" class="md-primary">
                    </md-checkbox>
                </div>           
            </div>

            <div layout-gt-sm="row" ng-show="needAudit">
                <div class="md-block-item">
                    <div class="md-block-item-title" style="min-width:80px">Audit Status</div>
                    <md-checkbox md-no-ink="" aria-label="Is Audit" ng-model="outlet.IsAuditApproved" class="md-primary">
                        <div class="md-block-item-title" style="min-width:80px">{{outlet.IsAuditApproved ? "Approve" : "Deny"}}</div>
                    </md-checkbox>
                </div>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Comment</label>
                    <textarea ng-model="outlet.Note" md-maxlength="150" rows="2" md-select-on-focus=""></textarea>
                </md-input-container>                           
            </div>
           
            <div layout-gt-sm="row">
                <div flex-gt-sm="" style="margin-left:8px;" class="outlet-image-container">
                    <img id="outletImg1" class="outlet-image" ng-click="capture(1);" src="{{image1URL}}" alt="Outlet Image" />
                </div>
                <div flex-gt-sm="" class="outlet-image-container">
                    <img id="outletImg2" class="outlet-image" ng-click="capture(2);" src="{{image2URL}}" alt="Outlet Image" />
                </div>
                <div flex-gt-sm="" class="outlet-image-container">
                    <img id="outletImg3" class="outlet-image" ng-click="capture(3);" src="{{image3URL}}" alt="Outlet Image" />
                </div>
                <div flex-gt-sm="">
                    <img id="captureButton" ng-show="allowCapture" ng-click="capture(0)" src="assets/img/camera.svg" />
                </div>             
            </div>

            <div layout-gt-xs="row" layout-margin layout-align="center">              
                <md-button class="md-raised md-primary" ng-click="saveUpdate()">Save</md-button>
                <md-button class="md-raised" ng-click="cancelUpdate()">Cancel</md-button>
            </div>
        </form>
    </md-content>
</md-dialog>