<md-dialog aria-label="Edit" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div>{{title}}</div>
            <span flex=""></span>
            <div>{{R.distance}}: {{outlet.Distance}} m</div>
        </div>
    </md-toolbar>
    <md-content layout-padding="" class="popup-content" style="margin-bottom:-8px;">
        <form name="userForm" style="margin-bottom:0px;">
            <div layout-gt-sm="row" style="margin-bottom:-8px;">
                <!--<div class="md-block-item">
                    <div class="md-block-item-title">{{R.code}}</div>
                    <div class="md-block-item-value">{{outlet.ID}}</div>
                </div>-->
                <div class="md-block-item" flex-gt-sm="">
                    <div class="md-block-item-title">{{R.address}}</div>
                    <div class="md-block-item-value">{{outlet.FullAddress}}</div>
                </div>
              
                <!--<div class="md-block-item" >
                    <div class="md-block-item-title">{{R.total}}</div>
                    <div class="md-block-item-value">{{outlet.TotalVolume}}</div>
                </div>
                <div class="md-block-item">
                    <div class="md-block-item-title">{{R.vbl_product}}</div>
                    <div class="md-block-item-value">{{outlet.VBLVolume}}</div>
                </div>-->
                <div class="md-block-item">
                    <div class="md-block-item-title">{{R.phone}}</div>
                    <div class="md-block-item-value">{{outlet.Phone}}</div>
                </div>

                <div class="md-block-item">
                    <div class="md-block-item-title">{{R.outlet_type}}</div>
                    <div class="md-block-item-value">{{outlet.OutletTypeName}}</div>
                </div>  
            </div>

            <div layout-gt-sm="row" style="margin-bottom:-8px;">
                <div class="md-block-item" flex-gt-sm="">
                    <div class="md-block-item-title">{{R.last_contact}}</div>
                    <div class="md-block-item-value">{{outlet.LastContact ? outlet.LastContact : "-"}}</div>
                </div>

                <div class="md-block-item" flex-gt-sm="">
                    <div class="md-block-item-title">{{R.last_visit}}</div>
                    <div class="md-block-item-value">{{outlet.LastVisit ? outlet.LastVisit : "-"}}</div>
                </div>

                <!--<div class="md-block-item" flex-gt-sm="">
                    <div class="md-block-item-title">{{R.closed_date}}</div>
                    <div class="md-block-item-value">{{outlet.CloseDate ? outlet.CloseDate : "-"}}</div>
                </div>-->

                <div class="md-block-item" flex-gt-sm="" ng-hide="canChangeOpenClose">
                    <div class="md-block-item-title">{{R.open_close}}</div>
                    <div class="md-block-item-value">{{outlet.IsOpened ? R.opened : R.closed}}</div>
                </div>

                <div class="md-block-item" flex-gt-sm="" ng-show="canChangeOpenClose">
                    <span class="md-block-item-title">{{R.open_close}}</span>
                    <md-checkbox md-no-ink="" aria-label="Is Opened" ng-model="isOutletClosed" ng-disabled="{{disableOpenClose}}" class="md-primary">
                        {{R.closed}}
                    </md-checkbox>
                </div>

                <div class="md-block-item" flex-gt-sm="" ng-show="canChangeTrackNonTrack">
                    <span class="md-block-item-title">{{R.tracking_status}}</span>
                    <md-checkbox md-no-ink="" aria-label="Is Tracked" ng-model="outlet.IsTracked" ng-disabled="{{disableTracking}}" class="md-primary" style="margin-bottom:0px;" >
                        {{outlet.IsTracked ? R.tracking : R.non_tracking}}
                    </md-checkbox>
                </div>
            </div>

            <div layout-gt-sm="row" style="margin-bottom:0px;">
                <div flex-gt-sm="" style="margin-left:12px;margin-top:-8px;">
                    <p>
                        {{R.volumn}}<br />
                        {{R.create_cartoons_avg_month}}
                    </p>
                </div>
                <div class="md-block-item">
                     <div class="md-block-item-title">{{R.total}}</div>
                     <div class="md-block-item-value">{{outlet.TotalVolume}}</div>
                 </div>
                 <div class="md-block-item">
                     <div class="md-block-item-title">{{R.vbl_product}}</div>
                     <div class="md-block-item-value">{{outlet.VBLVolume}}</div>
                 </div>
            </div>

            <div layout-gt-sm="row" style="margin-bottom:0px;">
                <!--<div class="md-block-item" ng-show="needAudit" style="margin-top:-12px;">
                    <div class="md-block-item-title" style="min-width:80px">{{R.audit_status}}</div>
                      <md-radio-group ng-model="outlet.AuditStatus">
                        <md-radio-button value="2" class="md-primary" style="margin-bottom:8px;">{{R.approve}}</md-radio-button>
                        <md-radio-button value="3" class="md-primary" style="margin-bottom:4px;">{{R.deny}}</md-radio-button>                        
                    </md-radio-group>                    
                </div>-->
                <md-input-container class="md-block" flex-gt-sm="" ng-show="isAuditor" >
                    <label>{{R.comment}}</label>
                    <textarea id="inputComment" ng-model="outlet.Note" md-maxlength="150" rows="2" md-select-on-focus="" ng-disabled="{{disableComment}}" style="margin-bottom:0px;" required=""></textarea>
                </md-input-container>                           
            </div>
           
            <div layout-gt-sm="row" style="margin-bottom:24px;margin-top:4px;">
                <div flex-gt-sm="" style="margin-left:8px;" class="outlet-image-container">
                    <img id="outletImg1" class="outlet-image" ng-click="capture(1);" src="{{image1URL}}" alt="Outlet Image"/>
                    <!--<span id="outletImg1loading">Loading...</span>-->                    
                </div>
                <div flex-gt-sm="" class="outlet-image-container">
                    <img id="outletImg2" class="outlet-image" ng-click="capture(2);" src="{{image2URL}}" alt="Outlet Image" />
                </div>
                <div flex-gt-sm="" class="outlet-image-container">
                    <img id="outletImg3" class="outlet-image" ng-click="capture(3);" src="{{image3URL}}" alt="Outlet Image" />
                </div>
                <div flex-gt-sm="">
                    <img id="captureButton" ng-show="allowCapture" ng-click="capture(0)" src="assets/img/camera.svg" />
                </div>     
                
                <!--<div class="md-block-item" style="margin-left:24px;" flex-gt-sm="" ng-show="canRevise">
                    <div class="md-block-item-title" style="min-width:80px">Revise</div>
                    <md-checkbox md-no-ink="" aria-label="Is IsDraft" ng-model="outlet.IsDraft" class="md-primary">
                    </md-checkbox>
                </div>-->        
            </div>

            <div layout-gt-xs="row" layout-margin layout-align="center" style="margin-bottom:0px;">   
                <md-button class="md-raised md-primary" ng-show="viewApprove" ng-click="approve()">{{R.btn_approve}}</md-button>
                <md-button class="md-raised" ng-show="viewDeny" ng-click="deny()">{{R.btn_deny}}</md-button>
                <md-button class="md-raised md-primary" ng-click="postOutlet()" ng-show="canPost">{{R.btn_post}}</md-button>
                <md-button class="md-raised md-primary blue1" ng-show="canRevise" ng-click="reviseOutlet()">{{R.btn_revise}}</md-button>           
                <md-button class="md-raised md-primary" ng-show="viewSave" ng-click="saveUpdate()">{{R.btn_save}}</md-button>

                <md-button class="md-raised" ng-show="viewCancel" ng-click="cancelUpdate()">{{isViewOnly ? R.btn_cancel : R.btn_close}}</md-button>
            </div>
        </form>
    </md-content>
</md-dialog>