<md-dialog aria-label="New Outlet" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div>CREATE NEW OUTLET</div>
            <span flex=""></span>
            <div>Code: {{outlet.ID}}</div>
        </div>
    </md-toolbar>
    <md-content layout-padding="" class="popup-content">
        <form name="createOutletForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="outlet.Name" name="name" required="">
                    <div ng-messages="createOutletForm.name.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Outlet Type</label>
                    <md-select ng-model="outlet.OTypeID">
                        <md-option ng-repeat="o in outletTypes" value="{{o.id}}">
                            {{o.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Latitude</label>
                    <input ng-model="outlet.Latitude" disabled="">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Longitude</label>
                    <input ng-model="outlet.Longitude" disabled="">
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>House No</label>
                    <input ng-model="outlet.AddLine" name="houseno" required="">
                    <div ng-messages="createOutletForm.houseno.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Street</label>
                    <input ng-model="outlet.AddLine2" name="street" required="">
                    <div ng-messages="createOutletForm.street.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>District</label>
                    <input ng-model="outlet.District" name="district" required="">
                    <div ng-messages="createOutletForm.district.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Province</label>
                    <input ng-model="outlet.ProvinceName" disabled="">
                </md-input-container>

            </div>

            <div layout-gt-sm="row">

                <md-input-container class="md-block">
                    <label>Phone</label>
                    <input ng-model="outlet.Phone" name="phone" required="">
                    <!--<div ng-messages="createOutletForm.phone.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>-->
                </md-input-container>

                <div class="md-block-item">
                    <div class="md-block-item-title" style="color:red">Volume</div>
                    <div class="md-block-item-value" style="color:red">(crates/cartons.Avg/month)</div>
                </div>            
                <md-input-container class="md-block">
                    <label style="color:#103B68">TOTAL</label>
                    <input ng-model="outlet.TotalVolume" name="total" type="number" required="">
                    <!--<div ng-messages="createOutletForm.total.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <label style="color:#103B68">VBL Product</label>
                    <input ng-model="outlet.VBLVolume" type="number" name="vblvolume" required="">
                    <!--<div ng-messages="createOutletForm.vblvolume.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>-->
                </md-input-container>
            </div>

            <div layout-gt-xs="row">
                <img id="outletImg1" class="outlet-image" ng-click="capture(1);" src="{{image1URL}}" alt="Outlet Image" />
                <img id="outletImg2" class="outlet-image" ng-click="capture(2);" src="{{image2URL}}" alt="Outlet Image" />
                <img id="outletImg3" class="outlet-image" ng-click="capture(3);" src="{{image3URL}}" alt="Outlet Image" />

                <img id="captureButton" ng-show="allowCapture" ng-click="capture(0)" src="assets/img/camera.svg" />
            </div>
            <div layout-gt-xs="row" layout-margin layout-align="center">
                <md-button class="md-raised md-primary" ng-click="saveUpdate()">Save</md-button>
                <md-button class="md-raised" ng-click="cancelUpdate()">Cancel</md-button>
            </div>
        </form>
    </md-content>
</md-dialog>