USE [test_db_tc]
GO
/****** Object:  Table [dbo].[Journal]    Script Date: 11/3/2016 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Journal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[JournalDate] [date] NOT NULL,
	[Data] [varchar](max) NOT NULL,
	[StartTS] [datetime] NOT NULL,
	[EndTS] [datetime] NOT NULL,
 CONSTRAINT [PK_Journal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Journal] ON 

INSERT [dbo].[Journal] ([ID], [PersonID], [JournalDate], [Data], [StartTS], [EndTS]) VALUES (1085, 123456, CAST(0x043C0B00 AS Date), N'106.705803,10.775432,106.705,10.775,106.706,10.778,106.7068,10.7784,106.7068,10.7784,106.7068,10.7784,106.7068,10.7784,106.7068,10.7784', CAST(0x0000A6A900D6E6D8 AS DateTime), CAST(0x0000A6A900D85220 AS DateTime))
INSERT [dbo].[Journal] ([ID], [PersonID], [JournalDate], [Data], [StartTS], [EndTS]) VALUES (1105, 123456, CAST(0x043C0B00 AS Date), N'106.705803,10.775432,106.705803,10.775432,106.705803,10.775432', CAST(0x0000A6A900D9D85C AS DateTime), CAST(0x0000A6A900DAB4AC AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Journal] OFF
