<div id="view-setting" class="main-view">
    <md-toolbar>
        <div class="md-toolbar-tools">            
            <md-button class="md-icon-button" aria-label="Go Back"  ng-click="cancel()">
                <md-icon md-svg-icon="assets/img/back.svg"></md-icon>
            </md-button>
            <h2>
                <span>Settings</span>
            </h2>                                 
        </div>
    </md-toolbar>

    <div id="config-form">
        <md-content layout-padding="" class="md-content-white">
            <form name="configForm">
                <md-input-container class="md-block" flex-gt-sm="" style="margin-bottom:38px;">
                    <label>{{ resource.text_EnterProtocol }}</label>
                    <md-select ng-model="config.protocol">
                        <md-option value="http">
                            HTTP
                        </md-option>
                        <md-option value="https">
                            HTTPS
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{ resource.text_EnterIPAddress }}</label>
                    <input required="" name="ipAddress" ng-model="config.ip">
                    <!--<div ng-messages="configForm.ipAddress.$error" role="alert">
                        <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>-->
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{ resource.text_EnterPort }}</label>
                    <input required="" name="ipAddress" ng-model="config.port">
                    <!--<div ng-messages="configForm.ipAddress.$error" role="alert">
                         <div ng-message="required">{{ resource.text_ValRequired }}</div>
                    </div>-->
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="" style="margin-bottom:0px;">
                    <label>{{ resource.text_EnterProvince }}</label>
                    <md-select ng-model="config.province_id">
                        <md-option ng-repeat="p in provinces" value="{{p.id}}">
                            {{p.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </form>
        </md-content>
    </div>

    <div class="action-buttons">
        <md-button class="md-raised md-primary" ng-click="saveConfig()">{{ resource.text_OK }}</md-button>
        <md-button class="md-raised" ng-click="cancel()">{{ resource.text_Cancel }}</md-button>
    </div>	
</div>