<!--<div id="view-main">
    
    <md-button class="md-fab md-mini md-primary" aria-label="Setting" style="float:right;">
        <md-icon md-svg-icon="assets/img/setting-white.svg"></md-icon>
    </md-button>	
    <md-button class="md-fab md-mini md-primary" aria-label="Favorite" style="float:left;">
        <md-icon md-svg-icon="assets/img/arrow-right-white.svg"></md-icon>
    </md-button>	
</div>-->
<!--<div id="view-home" class="main-view">
    <div id="map" style="position: relative;min-height:100px;height:100%"></div>  
</div>-->

<div id="view-home">  
    <div id="map" style="display:flex;position:absolute;width:100%;height:100%;overflow:visible;"></div>
</div>

