<div id="view-home">  
    <div id="outletPanel" class="overlay">                
        <div class="overlay-content">             
            <a id="expander-2" ng-click="viewLeftPanel()">&nbsp;</a>           
            <h3>{{outletHeader}}</h3>                        
            <div class="outlet-list">
                <div class="outlet-list-item" ng-repeat="outlet in outlets" >
                    <div class="outlet-list-item-header" ng-click="openOutlet($index)">{{outlet.Name}}</div>
                    <table>
                        <tr>
                            <td><div class="title">Address:</div></td>
                            <td colspan="5"><div class="content1">{{outlet.FullAddress}}</div></td>
                            <td ng-show="showFullOutlet"><div class="title1">Outlet type:</div></td>
                            <td ng-show="showFullOutlet"><div class="content2">{{outlet.OutletTypeName}}</div></td>
                        </tr>
                        <tr ng-show="showFullOutlet">
                            <td><div class="title">Distance:</div></td>
                            <td><div class="content2">{{outlet.Distance}}</div></td>
                            <td><div class="title">SR/DSM:</div></td>
                            <td><div class="content2">{{outlet.Name}}</div></td>
                            <td><div class="title">Tel:</div></td>
                            <td><div>{{outlet.Phone}}</div></td>
                            <td><div class="title1">Last contact:</div></td>
                            <td><div class="content2">{{outlet.LastContact}}</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>        
    </div>
    
    <div id="view-map">
        <div id="map" class="view-map-content"></div>            
    </div>

    <a id="expander-1" class="view-button" ng-click="viewLeftPanel()"> > </a>
    <!--<img src="assets/img/a-right.png"/>-->    

    <div id="view-home-content-bottom">
        <a id="btn-near-by" ng-click="changeOutletView(0)" class="outlet-button-active">Near-by Outlets</a>
        <a id="btn-new-outlet" ng-click="changeOutletView(1)">New Outlets</a>
        <a id="btn-new-update" ng-click="changeOutletView(2)">Updated Outlets</a>
    </div>

    <div id="view-home-content-top">        
        <a id="btn-refresh" ng-show="btnRefreshVisible" ng-click="refresh()">Refresh</a>
        <a id="btn-add" ng-click="refresh()">Add Outlet</a>
    </div>
</div>

