/****************************** COLOR ******************************/
.blue {
    background: #01541E;
}

.blue-dark {
    background: #103B68;
}

.white {
    background: white;
}

.red {
    background: #F44336;
}

.blue1 {
    background: #2196F3;
}

.transparent {
    background: transparent;
    box-shadow: 0px;
}

.light-green{
    background:#4CAF50;
}

.gray {
    background: #808080;
}

/****************************** TEXT COLOR ******************************/

.black-color {
    color: black;
}

.gray-color {
    color:  rgb(128, 128, 128);
}

.blue-color {
    color: #2196F3;
}

.warn-color {
    color: #EF8E1B;
}

.error-color {
    color: #F44336;
}

.green-color{
    color : #01541E;
}

/****************************** TEXT SIZE ******************************/

.normal-text {
    font-size: 16px;
}

.large-text {
    font-size: 20px;
}

.extra-large-text{
    font-size: 24px;
}

.small-text {
    font-size: 14px;
}

.tiny-text {
    font-size: 12px;
}

*:focus {
    outline: none;
}

/****************************** DISPLAy ******************************/
.display-none {
    display: none;
}

/****************************** POSITION ******************************/
.float-left {
    float: left; 
    margin-right: 4px;
}

.float-right {
    float: right; 
    margin-left: 4px;
}

.float-top {     
    margin-top: 4px;
}

.float-top-right {     
    margin-bottom: 8px;
}

.float-right-no-margin {
    float: right; 
}

/****************************** MARGIN ******************************/
.margin-top-4{
    margin-top: 4px;
}

.margin-top-8{
    margin-top: 8px;
}

.margin-top-12{
    margin-top: 8px;
}

.margin-right-16{
    margin-right: 16px;
}

.margin-right-1{
    margin-right: 1px;
}

.margin-right-4{
    margin-right: 4px;
}