html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.md-icon-button-primary {
    color: #3A678D;
}

.md-content-white {
    background: white;
}

.main-view {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    display: table;
    text-align: center;
    background: #E5E5E5;
}

    .main-view .center-view {
        display: table-cell;
        vertical-align: middle;
    }

        .main-view .center-view .box {
            background: white;
            border: 1px solid #E5E5E5;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            border-radius: 0px;
            margin-left: 25%;
            margin-right: 25%;
            padding: 8px;
        }

    .main-view .box-f {
        display: table-cell;
    }

#view-home {
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    min-height: 100%;
    background: #E5E5E5;
}

#view-setting {
    background: white;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /*rgba(0,0,0,0.6);*/
    z-index: 15;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#loading-window {
    display: table-cell;
    vertical-align: middle;
}

#loading-content {
    background: white;
    border: 1px solid #E5E5E5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
    margin-left: 32%;
    margin-right: 32%;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    /*
    width: 200px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -80px;*/
}

#loading-content-header {
    text-align: left;
    width: 100%;
    margin-bottom: 24px;
}

#loading-content-title {
    margin: 4px;
    font-size: 1.4em;
}

#loading-content-message {
    color: #444444;
    margin-bottom: 24px;
}

#loading-content-footer {
    width: 100%;
    height: 36px;
    display: table;
}

    #loading-content-footer a {
        color: #3F51B5;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;
    }

.main-view .center-view .box h1 {
    padding-bottom: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #3A678D;
    text-align: center;
}

hr {
    border: none;
    height: 0.5px;
    /* Set the hr color */
    color: #1D3464; /* old IE */
    background-color: #1D3464; /* Modern Browsers */
}

.action-buttons {
    margin-top: 24px;
}

#login-logo {
    border: 1px #3A678D;
    margin-right: -36px;
    margin-top: 12px;
}

#exit-button {
    background: transparent;
    border: 1px solid #E5E5E5;
    color: #3A678D;
}

#setting-button {
    float: right;
    border: 0px;
    width: 32px;
    height: 32px;
}

#login-setting-button {
    float: right;
    border: 0px;
}

#login-form, #config-form {
    margin: 4px;
    padding: 0px;
    text-align: left;
    background: white;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    /*background-color: rgb(0,0,0);*/
    background-color: rgba(0,0,0, 0.6);
    background: #FAFAFA;
    overflow-x: hidden;
    transition: 0.5s;
}

    .overlay .overlay-content {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        background: #FAFAFA;
        z-index: 3;
        padding: 8px;
    }

.overlay-content a {
    color: #FFFFFF;
    background: #1D3464;
    border: 1px;
    border-radius: 2px;
    padding: 8px;
    min-width: 16px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 13px;
}

#expander-2 {
    z-index: 3;
    position: relative;
    float: right;
    top: 36px;
}

.overlay-content-controller {
    position: relative;
    float: right;
    top: 32px;
    right: 8px;
    display: inline;
}

/*style="float:right;display:inline"*/

/*.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}
    }*/

#view-map {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#map {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    min-height: 100px;
    margin-top: 0px;
    z-index: 0;
}

#view-home-content {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#view-home-content-top {
    position: absolute;
    top: 0;
    right: 4px;
    display: inline;
    z-index: 3;
}

    #view-home-content-top a {
        color: #FFFFFF;
        background: #3F51B5;
        border: 1px;
        border-radius: 2px;
        min-width: 72px;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin-top: 4px;
    }

#view-home-content-bottom {
    position: absolute;
    bottom: 0;
    left: 4px;
    display: inline;
    z-index: 3;
}

    #view-home-content-bottom a {
        background-color: #FFFFFF;
        border: 1px solid #3F51B5;
        border-radius: 2px;
        color: #1D3464;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 0px;
    }

    #view-home-content-bottom .outlet-button-active {
        color: #FFFFFF;
        background: #3F51B5;
    }

#expander-1 {
    /*position: absolute; 
    top: 4px;
    left: 4px; 
    width: 24px;
    height: 24px;
    border: 1px;
    border-radius: 2px;        
    background: #1D3464;*/
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #1D3464;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 0px;
}

/*#expander-1 img{
    height:20px;
    width:20px;    
}*/

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /*rgba(0,0,0,0.6);*/
    z-index: 11;
    width: 100%;
    height: 100%;
    display: table;
}

    .popup-overlay .popup-window {
        display: table-cell;
        vertical-align: middle;
    }

        .popup-overlay .popup-window .popup-window-center {
            background: white;
            border: 1px solid #E5E5E5;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            border-radius: 0px;
            margin: 5%;
        }

            .popup-overlay .popup-window .popup-window-center .popup-content {
                display: block;
                overflow-y: auto;
            }

/*.outlet-title{
    font-size:16px;
    color:#1D3464;  
    margin-bottom:8px;  
}*/

.outlet-list {
    display: list-item;
    overflow-y: auto;
}

.outlet-list-item {
    padding-top: 12px;
    padding-bottom: 24px;
    text-align: left;
    display: block;
    border-top: 1px solid lightgray;
}

    .outlet-list-item .outlet-list-item-header {
        color: #1D3464;
        margin-bottom: 4px;
        font-size: 20px;
        font-weight: bold;
    }

    .outlet-list-item .outlet-list-item-line {
        color: #1D3464;
        margin-bottom: 4px;
        font-size: 20px;
        font-weight: bold;
    }

    .outlet-list-item th, td {
        font-weight: normal;
        padding-right: 8px;
    }

    .outlet-list-item .title {
        font-weight: bold;
    }

    .outlet-list-item .title1 {
        font-weight: bold;
        min-width: 100px;
    }

    .outlet-list-item .content1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 460px;
    }

    .outlet-list-item .content2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
    }

.view-marker {
}

.outletImage{
    height:80px;
    width:124px;
    margin:8px;
}

/*********************************/
._md {
    min-height: 32px;
}

.md-toolbar-tools {
    height: 36px;
    font-size: 16px;
}

.md-block {
    margin: 12px 8px 4px 8px;
}

.md-block-item {
    color: rgba(0,0,0,0.87);
    padding: 8px 8px 20px 8px;
    display: block;
}

    .md-block-item .md-block-item-title {
        color: rgb(128, 128, 128);
        display: inherit;
        margin: 4px 0;
        font-size: 13px;
    }

    .md-block-item .md-block-item-value {
        color: rgba(0,0,0,1);
        display: inherit;
    }
/*********************************/
