html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.md-icon-button-primary {
    color: #3A678D;
}

.md-content-white {
    background: white;
}

.main-view {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    display: table;
    text-align: center;
    background: #E5E5E5;
}

    .main-view .center-view {
        display: table-cell;
        vertical-align: middle;
    }

        .main-view .center-view .box {
            background: white;
            border: 1px solid #E5E5E5;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            border-radius: 0px;
            margin-left: 25%;
            margin-right: 25%;
            padding: 8px;
        }

    .main-view .box-f {
        display: table-cell;
    }

#view-home {
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    min-height: 100%;
    background: #E5E5E5;
}

#view-setting{
   background: white;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /*rgba(0,0,0,0.6);*/
    z-index: 15;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#loading-window {
    display: table-cell;
    vertical-align: middle;
}

#loading-content {
    background: white;
    border: 1px solid #E5E5E5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
    margin-left: 32%;
    margin-right: 32%;  
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    /*
    width: 200px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -80px;*/
}

#loading-content-header {
    text-align: left;
    width: 100%;
    margin-bottom:24px;
}

#loading-content-title{
    margin:4px;     
    font-size:1.4em; 
}

#loading-content-message{  
    color:#444444;
    margin-bottom:24px;
}

#loading-content-footer {    
    width: 100%;    
    height:36px; 
    display:table; 
}

#loading-content-footer a{
    color:#3F51B5;
    font-weight:bold;    
    display:table-cell;
    vertical-align: middle;
}

.main-view .center-view .box h1 {
    padding-bottom: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #3A678D;
    text-align: center;
}

hr {
    border: none;
    height: 0.5px;
    /* Set the hr color */
    color: #1D3464; /* old IE */
    background-color: #1D3464; /* Modern Browsers */
}

.action-buttons {
    margin-top: 24px;
}

#login-logo {
    border: 1px #3A678D;
    margin-right: -36px;
    margin-top: 12px;
}

#exit-button {
    background: transparent;
    border: 1px solid #E5E5E5;
    color: #3A678D;
}

#setting-button {
    float: right;
    border: 0px;
    width: 32px;
    height: 32px;
}

#login-setting-button {
    float: right;
    border: 0px;
}

#login-form, #config-form {
    margin: 4px;
    padding: 0px;
    text-align: left;
    background: white;
}

#slide-in-left {
    position: absolute;
    top: 1em;
    height: 90%;
    left: 0;
    width: 320px;
    margin-left: -320px;
    background: #EFF0F1;
    border: solid #e9e9e9;
    border-width: 1px 1px 1px 0;
}

#slide-in-handle {
    position: absolute;
    top: 5em;
    left: 320px;
    width: 24px;
    height: 50px;
    background: #082543;
    color: #fff;
    text-indent: -999em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    margin: 4px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

#view-map {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#map {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    min-height: 100px;
    margin-top: 0px;
}

#view-home-content {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#expander-1 {
    float: left;
    border: 0px;
    width: 36px;
    height: 36px;
}

.outlet-button {
    height: 32px;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #1D3464;
}

.outlet-button-active {
    height: 32px;
    background: #1D3464;
    border: 1px solid #1D3464;
    border-radius: 5px;
    color: white;
}

.popup-overlay {   
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /*rgba(0,0,0,0.6);*/
    z-index: 11;
    width: 100%;
    height: 100%;
    display: table;    
}

.popup-overlay .popup-window {   
    display: table-cell;
    vertical-align: middle;        
}

.popup-overlay .popup-window .popup-window-center {
    background: white;
    border: 1px solid #E5E5E5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 0px;
    margin: 5%;    
}

.popup-overlay .popup-window .popup-window-center .popup-content {
    /*display: block;
    overflow-y: scroll*/
}
