<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- Libs -->
    <script src="assets/libs/jquery.js"></script>        
    <script src="assets/libs/markerclusterer.js"></script>
    
    <!-- Kendo UI -->
    <!--<link href="assets/libs/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.silver.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />-->

    <!-- Angular Material -->
    <link rel="stylesheet" href="assets/libs/angular/angular-material.min.css">    
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>
    <script src="assets/libs/angular/angular-aria.min.js"></script>
    <script src="assets/libs/angular/angular-messages.min.js"></script>
    <script src="assets/libs/angular/angular-material.min.js"></script>
    <script src="assets/libs/angular/angular-route.js"></script>
    <!-- <script src="assets/libs/angular/angular-kendo.js"></script> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
        
    <!-- MAP -->    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpKidHSrPMfErXLJSts9R6pam7iUOr_W0"></script>
</head>
<!--<body ng-app="TradeCensus" ng-controller="MainController">-->
<body ng-app="TradeCensus" ng-controller="MainController">
    <ng-view id="mainView"></ng-view>     
    
    <script src="js/app.global.js"></script>
    <script src="js/app.database.js"></script>   
    <script src="js/mainController.js"></script>  
    <script src="js/loginController.js"></script>
    <script src="js/configController.js"></script>
    <script src="js/homeController.js"></script>
    <!--<script type="text/javascript" src="cordova.js"></script>-->  
    
    <script type="text/ng-template" id="outletlist.html">     
        <div class="outlet-list">
            <div class="outlet-list-item" ng-repeat="outlet in outlets">
                <div class="outlet-list-item-header">{{outlet.Name}}</div>
                <table>
                    <tr>
                        <td><div class="title">Address:</div></td>
                        <td colspan="5"><div class="content1">{{outlet.AddLine}} {{outlet.AddLine2}} {{outlet.District}}</div></td>
                        <td><div class="title1">Outlet type:</div></td>
                        <td><div class="content2">{{outlet.OutletTypeName}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="title">Distance:</div></td>
                        <td><div class="content2">{{outlet.Distance}} meters</div></td>
                        <td><div class="title">SR/DSM:</div></td>
                        <td><div class="content2">{{outlet.Name}}</div></td>
                        <td><div class="title">Tel:</div></td>
                        <td><div>{{outlet.Phone}}</div></td>
                        <td><div class="title1">Last contact:</div></td>
                        <td><div class="content2">{{outlet.LastContact}}</div></td>
                    </tr>
                </table>
            </div>
          </div>
    </script>
    <script type="text/ng-template" id="outletview.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <div>Name: {{outlet.Name}}</div>
                    <span flex=""></span>
                    <div>Code: {{outlet.ID}}</div>
                </div>
            </md-toolbar>
            <md-content layout-padding="" class="popup-content">
                <form name="userForm">
                    <div layout-gt-xs="row">
                        <div class="md-block-item" flex>
                            <div class="md-block-item-title">Address</div>
                            <div class="md-block-item-value">{{outlet.FullAddress}}</div>
                        </div>
                        <div class="md-block-item">
                            <div class="md-block-item-title">Distance (m)</div>
                            <div class="md-block-item-value">{{outlet.Distance}}</div>
                        </div>
                    </div>

                    <div layout-gt-sm="row">
                        <div class="md-block-item">
                            <div class="md-block-item-title">Outlet Type</div>
                            <div class="md-block-item-value">{{outlet.OutletTypeName}}</div>
                        </div>
                        <div class="md-block-item">
                            <div class="md-block-item-title">Telephone</div>
                            <div class="md-block-item-value">{{outlet.Phone}}</div>
                        </div>
                        <div class="md-block-item">
                            <div class="md-block-item-title">Last Contact</div>
                            <div class="md-block-item-value">{{outlet.LastContact}}</div>
                        </div>
                        <div class="md-block-item">
                            <div class="md-block-item-title">Last Visit</div>
                            <div class="md-block-item-value">{{outlet.LastVisit}}</div>
                        </div>
                        <div class="md-block-item">
                            <div class="md-block-item-title">Closed Date</div>
                            <div class="md-block-item-value">{{outlet.CloseDate}}</div>
                        </div>
                    </div>

                    <div layout-gt-sm="row">                        
                        <div class="md-block-item" ng-show="openedOptionVisible">
                            <md-switch ng-model="outlet.IsOpened">{{outlet.IsOpened ? "Opened" : "Closed"}}</md-switch>
                        </div>
                        <div class="md-block-item" ng-show="trackedOptionVisible">
                            <md-switch ng-model="outlet.IsTracked">{{outlet.IsTracked ? "Tracking" : "Non-Tracking"}}</md-switch>
                        </div>
                        <md-input-container class="md-block" flex ng-show="hasAuditRole">
                            <label>Comment</label>
                            <textarea ng-model="outlet.Note" md-maxlength="150" rows="3" md-select-on-focus=""></textarea>
                        </md-input-container>  
                    </div>

                    <div layout-gt-xs="row">
                        <img id="outletImg1" class="outletImage" />
                        <img id="outletImg2" class="outletImage" />
                        <img id="outletImg3" class="outletImage" />
                    </div>
                    <div layout-gt-xs="row" layout-margin layout-align="center">
                        <md-button class="md-raised md-primary" ng-click="saveUpdate()">{{hasAuditRole ? "Apcept" : "Save"}}</md-button>
                        <md-button class="md-raised" ng-click="cancelUpdate()">{{hasAuditRole ? "Deny" : "Cancel"}}</md-button>
                    </div>
                </form>
            </md-content>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="outletnew.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <div>CREATE NEW OUTLET</div>
                    <span flex=""></span>
                    <div>Code: {{outlet.ID}}</div>
                </div>
            </md-toolbar>
            <md-content layout-padding="" class="popup-content">
                <form name="userForm">
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex>
                            <label>Name</label>
                            <input ng-model="outlet.Name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Outlet Type</label>
                            <md-select ng-model="outlet.OTypeID">
                                <md-option ng-repeat="o in outletTypes" value="{{o.id}}">
                                    {{o.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Latitude</label>
                            <input ng-model="outlet.Latitude" disabled="">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Longitude</label>
                            <input ng-model="outlet.Longitude" disabled="">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label>House No</label>
                            <input ng-model="outlet.AddLine">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Street</label>
                            <input ng-model="outlet.AddLine2">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>District</label>
                            <input ng-model="outlet.District">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Province</label>
                            <input ng-model="outlet.ProvinceName" disabled="">
                        </md-input-container>

                    </div>

                    <div layout-gt-sm="row">

                        <md-input-container class="md-block">
                            <label>TEL</label>
                            <input ng-model="outlet.Phone">
                        </md-input-container>

                        <div class="md-block-item">
                            <div class="md-block-item-title" style="color:red">Volume (crates/cartons.Avg/month)</div>
                            <div class="md-block-item-value"></div>
                        </div>
                        <md-input-container class="md-block">
                            <label style="color:red">TOTAL</label>
                            <input ng-model="outlet.TotalVolume">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label style="color:red">VBL Product</label>
                            <input ng-model="outlet.VBLVolume">
                        </md-input-container>
                    </div>

                    <div layout-gt-xs="row">
                        <img id="outletImg1" class="outletImage" />
                        <img id="outletImg2" class="outletImage" />
                        <img id="outletImg3" class="outletImage" />
                    </div>
                    <div layout-gt-xs="row" layout-margin layout-align="center">
                        <md-button class="md-raised md-primary" ng-click="saveUpdate()">Save</md-button>
                        <md-button class="md-raised" ng-click="cancelUpdate()">Cancel</md-button>
                    </div>
                </form>
            </md-content>
        </md-dialog>
    </script>
</body>
</html>
