<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- Libs -->
    <script src="assets/libs/jquery.js"></script>
    <script src="assets/libs/moment.js"></script>

    <!-- Kendo UI -->
    <link href="assets/libs/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.silver.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />

    <!-- Angular Material -->
    <link rel="stylesheet" href="assets/libs/angular/angular-material.min.css">
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>
    <script src="assets/libs/angular/angular-aria.min.js"></script>
    <script src="assets/libs/angular/angular-messages.min.js"></script>
    <script src="assets/libs/angular/angular-material.min.js"></script>
    <script src="assets/libs/angular/angular-route.js"></script>
    <!-- <script src="assets/libs/angular/angular-kendo.js"></script> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- MAP -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpKidHSrPMfErXLJSts9R6pam7iUOr_W0"></script>
</head>
<!--<body ng-app="TradeCensus" ng-controller="MainController">-->
<body >
    <div id="view-setting" class="main-view">
        <div class="center-view">
            <div class="box">
                <h1>SETTINGS</h1>
                <div id="config-form">
                    <md-content layout-padding="" class="md-content-white">
                        <form name="loginForm">
                            <md-input-container class="md-block">
                                <label>{{ resource.text_EnterIPAddress }}</label>
                                <input required="" name="ipAddress" ng-model="config.ip">
                                <!--<div ng-messages="config.ipAddress.$error" role="alert">
                                    <div ng-message="required">{{ resource.text_ValRequired }}</div>
                                </div>-->
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>{{ resource.text_EnterPort }}</label>
                                <input required="" name="ipAddress" ng-model="config.port">
                                <!--<div ng-messages="config.ipAddress.$error" role="alert">
                                    <div ng-message="required">{{ resource.text_ValRequired }}</div>
                                </div>-->
                            </md-input-container>
                        </form>
                    </md-content>
                </div>

                <div class="action-buttons">
                    <md-button class="md-raised md-primary" ng-click="saveConfit(userID,password)">{{ resource.text_OK }}</md-button>
                    <md-button class="md-raised" ng-click="changeView('login')">{{ resource.text_Cancel }}</md-button>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>
