<?xml version="1.0" encoding="utf-8"?>
<widget id="com.vbl.tradecensus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-packageName="com.vbl.tradecensus">
	<name>
		Trade Census
	</name>
	<description>
		VBL Trade Census
	</description>
	<author email="vvda1984@gmail.com" href="https://cordova.apache.org">
		AV
	</author>
	<content src="index.html" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-navigation href="*" />
	<allow-navigation href="file://" />
	<allow-navigation href="data://" />
	<access origin="*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<icon density="ldpi" src="res/icons/android/icon-36-ldpi.png" />
		<icon density="mdpi" src="res/icons/android/icon-48-mdpi.png" />
		<icon density="hdpi" src="res/icons/android/icon-72-hdpi.png" />
		<icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
	</platform>
</widget>
