<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- Libs -->
    <script src="assets/libs/jquery.js"></script>    

    <!-- Kendo UI -->
    <!--<link href="assets/libs/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.silver.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Angular Material -->
    <link rel="stylesheet" href="assets/libs/angular/angular-material.min.css">
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>
    <script src="assets/libs/angular/angular-aria.min.js"></script>
    <script src="assets/libs/angular/angular-messages.min.js"></script>
    <script src="assets/libs/angular/angular-material.min.js"></script>
    <script src="assets/libs/angular/angular-route.js"></script>
    <!-- <script src="assets/libs/angular/angular-kendo.js"></script> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<style>
        ._md {
            min-height: 32px;
        }

        .md-toolbar-tools {
            height: 36px;
            font-size: 16px;
        }

        .md-block{
            margin:12px 8px 4px 8px;    
            min-width:100px;        
            max-width:200px;
        }

        .md-block-item {
            color: rgba(0,0,0,0.87);
            padding: 8px 8px 20px 8px;
            display: block;         
        }
            .md-block-item .md-block-item-title {
                color: rgb(128, 128, 128);
                display: inherit;
                margin: 4px 0;
                font-size:13px;
            }
            .md-block-item .md-block-item-value {
                color: rgba(0,0,0,1);
                display: inherit;
            }
    </style>-->
    <script>
        angular.module('MyApp', ['ngMaterial', 'ngMessages'])
        .controller('AppCtrl', function ($scope, $mdDialog, $mdMedia) {
            $scope.status = '  ';
            $scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');

            $scope.outlet = {
                Action: 0,
                AddLine: "91",
                AddLine2: "Hai Bà Trưng",
                AmendBy: 11693,
                AmendDate: "2016-11-06 00:00:00",
                AreaID: "HRC",
                AuditStatus: 0,
                CloseDate: "2016-06-01",
                CreateDate: "2016-06-01 00:00:00",
                Distance: 611.4265072240927,
                District: "Q.1",
                FullAddress: "91 Hai Bà Trưng Q.1 Hồ Chí Minh",
                ID: 65000029,
                LastContact: "MRS PHUONG",
                Latitude: 10.777497,
                Longitude: 106.701862,
                Name: "QUÁN 91",
                Note: null,
                OTypeID: "BO",
                OutletEmail: null,
                OutletSource: 1,
                OutletTypeName: "Outlet_Type_1",
                PRowID: "f574220f-8940-4181-b995-ae5ba1411154",
                PersonID: 12533,
                Phone: "8228305   ",
                ProvinceID: "50",
                ProvinceName: "Hồ Chí Minh",
                StringImage1: null,
                StringImage2: null,
                StringImage3: null,
                Tracking: 0,
                IsOpened: false,
                IsTracked: false,
                IsDraft: false,
            };
            //$scope.showAdvanced = function(evt) {
            //    $scope.data.dialogOpen = true;
            //    $mdDialog.show({
            //        targetEvent: evt,
            //        scope: $scope.$new(),
            //        template:
            //          '<md-dialog>' +
            //          '  <md-content>{{data.greeting}}, world !</md-content>' +
            //          '  <div class="md-actions">' +
            //          '    <md-button ng-click="data.dialogOpen=false;hideDialog()">' +
            //          '      Close' +
            //          '    </md-button>' +
            //          '  </div>' +
            //          '</md-dialog>'
            //    });
            //}

            //var u = $.extend(true, {}, $scope.outlet);;
            //console.log(u);

            $scope.showAdvanced = function (ev) {
                $mdDialog.show({
                    targetEvent: ev,
                    scope: $scope.$new(),
                    controller: function ($scope, $mdDialog) {
                        $scope.position = $scope.outlet.Latitude.toString() + ', ' + $scope.outlet.Longitude.toString();

                        $scope.hasAuditRole = true;
                        $scope.openedOptionVisible = !$scope.outlet.IsOpened;
                        $scope.trackedOptionVisible = !$scope.outlet.IsTracked;
                        $scope.outlet.Name = "ABC DEF AAA";
                        $scope.saveUpdate = function () {
                            $mdDialog.hide(true);
                        };

                        $scope.cancelUpdate = function () {
                            $mdDialog.cancel();
                        };
                    },
                    templateUrl: 'dialog1.tmpl.html',
                    parent: angular.element(document.body),
                    clickOutsideToClose: true,
                    fullscreen: false,
                })
                .then(function (answer) {
                    $scope.status = 'You said the information was "' + answer + '".';
                    console.log($scope.status);
                    console.log($scope.outlet);
                    console.log(u);
                }, function () {
                    $scope.status = 'You cancelled the dialog.';
                });

                //$scope.$watch(function () {
                //    return $mdMedia('xs') || $mdMedia('sm');
                //}, function (wantsFullScreen) {
                //    $scope.customFullscreen = (wantsFullScreen === true);
                //});
            };
        });

        function DialogController($scope, $mdDialog, outlet) {
            $scope.outlet = outlet;

            $scope.hide = function () {
                $mdDialog.hide();
            };

            $scope.cancel = function () {
                $mdDialog.cancel();
            };

            $scope.answer = function (answer) {
                $mdDialog.hide(answer);
            };
        }
    </script>
</head>
<!--<body ng-app="TradeCensus" ng-controller="MainController">-->
<body ng-app="MyApp" ng-controller="AppCtrl">
    <div class="popup-overlay">
        <div class="popup-window">
            <div class="popup-window-center">
                <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                    Custom Dialog
                </md-button>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <div>CREATE NEW OUTLET</div>
                    <span flex=""></span>
                    <div>Location: {{outlet.Latitude}}, {{outlet.Longitude}} &nbsp;&nbsp; </div>
                    <div>Code: {{outlet.ID}}</div>
                </div>
            </md-toolbar>
            <md-content layout-padding="" class="popup-content">
                <form name="userForm">
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input ng-model="outlet.Name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Outlet Type</label>
                            <md-select ng-model="config.province_id">
                                <md-option ng-repeat="p in provinces" value="{{p.id}}">
                                    {{p.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>  
                        <!--<md-input-container class="md-block">
                            <label>House No</label>
                            <input ng-model="outlet.Latitude">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>House No</label>
                            <input ng-model="outlet.Longitude">
                        </md-input-container>-->

                        <!--<md-input-container class="md-block">
                            <label>Latitude, Longitude</label>
                            <input ng-model="position" disabled="">
                        </md-input-container>-->
                        <md-input-container class="md-block">
                            <label>TEL</label>
                            <input ng-model="outlet.AddLine">
                        </md-input-container>    
                        

                        <div class="md-block-item">
                            
                            <md-checkbox md-no-ink="" aria-label="Is Opened" ng-model="outlet.IsDraft" class="md-primary">
                            </md-checkbox>
                            <label>IsDraft</label>
                        </div>     
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label>House No</label>
                            <input ng-model="outlet.AddLine">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Street</label>
                            <input ng-model="outlet.AddLine2">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>District</label>
                            <input ng-model="outlet.District">
                        </md-input-container>   
                        <md-input-container class="md-block">
                            <label>Province</label>
                            <input ng-model="outlet.ProvinceName" disabled="">
                        </md-input-container>   
                                                 
                    </div>
                    
                    <div layout-gt-sm="row">
                        <div class="md-block-item">
                            <div class="md-block-item-title" style="color:red">Volume</div>
                            <div class="md-block-item-value" style="color:red">(crates/cartons.Avg/month)</div>
                        </div>                                              
                        <md-input-container class="md-block">
                            <label style="color:red">TOTAL</label>
                            <input ng-model="outlet.TotalVolume">
                        </md-input-container>  
                        <md-input-container class="md-block">
                            <label style="color:red">VBL Product</label>
                            <input ng-model="outlet.VBLVolume">
                        </md-input-container>                       
                    </div>

                    <div layout-gt-xs="row">
                        <img id="outletImg1" class="outlet-image" ng-click="capture(1);" src="{{image1URL}}" alt="Outlet Image" />
                        <img id="outletImg2" class="outlet-image" ng-click="capture(2);" src="{{image2URL}}" alt="Outlet Image" />
                        <img id="outletImg3" class="outlet-image" ng-click="capture(3);" src="{{image3URL}}" alt="Outlet Image" />

                        <img id="captureButton" ng-show="allowCapture" ng-click="capture(0)" src="assets/img/camera.svg" />
                    </div>
                   
                    <div layout-gt-sm="row" layout-margin layout-align="center">                          
                        <md-checkbox  md-no-ink="" aria-label="Is Opened" ng-model="outlet.IsDraft" class="md-primary">
                        </md-checkbox>
                        <label style="margin-right:12px;padding-top:12px">Is Draft</label>

                        <md-button class="md-raised md-primary" ng-click="saveUpdate()">Save</md-button>
                        <md-button class="md-raised" ng-click="cancelUpdate()">Cancel</md-button>
                    </div>
                </form>
            </md-content>
        </md-dialog>
    </script>
</body>


</html>
