<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- Libs -->
    <script src="assets/libs/jquery.js"></script>

    <!-- Kendo UI -->
    <!--<link href="assets/libs/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.silver.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Angular Material -->
    <link rel="stylesheet" href="assets/libs/angular/angular-material.min.css">
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>
    <script src="assets/libs/angular/angular-aria.min.js"></script>
    <script src="assets/libs/angular/angular-messages.min.js"></script>
    <script src="assets/libs/angular/angular-material.min.js"></script>
    <script src="assets/libs/angular/angular-route.js"></script>
    <!-- <script src="assets/libs/angular/angular-kendo.js"></script> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<style>
        ._md {
            min-height: 32px;
        }

        .md-toolbar-tools {
            height: 36px;
            font-size: 16px;
        }

        .md-block{
            margin:12px 8px 4px 8px;
            min-width:100px;
            max-width:200px;
        }

        .md-block-item {
            color: rgba(0,0,0,0.87);
            padding: 8px 8px 20px 8px;
            display: block;
        }
            .md-block-item .md-block-item-title {
                color: rgb(128, 128, 128);
                display: inherit;
                margin: 4px 0;
                font-size:13px;
            }
            .md-block-item .md-block-item-value {
                color: rgba(0,0,0,1);
                display: inherit;
            }
    </style>-->
    <script>
        var leftPanelStatus = 0;
        function showLeftPanel() {
            if (leftPanelStatus >= 2) leftPanelStatus = 0;
            else
                leftPanelStatus++;

            if (leftPanelStatus == 0) {
                showFullOutlet = false;
                document.getElementById('outletPanel').style.width = '0%';
                //$('#expander-2').html('>');
            } else if (leftPanelStatus == 1) {
                showFullOutlet = false;
                document.getElementById('outletPanel').style.width = '40%';
                //$('#expander-2').html('>');
            } else {
                showFullOutlet = true;
                document.getElementById('outletPanel').style.width = '100%';
                //$('#expander-2').html('<');
            }
        }

        function showDropdown() {
            $("#outlet-dropdown").css('display', 'block');
        }

        function hideDropdown() {
            $("#outlet-dropdown").css('display', 'none');
        }
    </script>
</head>
<!--<body ng-app="TradeCensus" ng-controller="MainController">-->
<body>
    <div id="view-home">
        <div id="view-home-top-panel">
            <div class="box">
                <img src="assets/img/menu.svg" onclick="showDropdown()" />
                <span onclick="showDropdown()">Near-by Outlets</span>
                <img src="assets/img/arrow-left.svg" onclick="showLeftPanel()" />
                <img src="assets/img/arrow-right.svg" onclick="showLeftPanel()" />
            </div>
            <div class="top-panel-button blue">
                <img src="assets/img/refresh.svg" />
            </div>
            <div class="top-panel-button blue">
                <img src="assets/img/add.svg" />
            </div>
            <div id="outlet-dropdown" class="dropdown">
                <div class="dropdown-item" onclick="hideDropdown()"><span>Hello World!</span></div>
                <div class="dropdown-item" onclick="hideDropdown()"><span>Hello World!</span></div>
                <div class="dropdown-item" onclick="hideDropdown()"><span>Hello World!</span></div>
            </div>
        </div>

        <div id="outletPanel">
            <div class="outlet-list-panel">
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="header" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <span class="text">123 Nguyen Dinh Chieu - Quan 1 - Ho Chi Minh</span>
                        </div>
                    </div>
                    <div class="outlet-item-col-cleared"></div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="header" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">{{Math.round (outlet.Distance)}} m</span>
                        <div class="content">
                            <span class="text">{{outlet.FullAddress}}</span>
                        </div>
                        <div class="content" ng-show="showFullOutlet">       
                            <table>
                                <tr>
                                    <td class="title">Address:</td>
                                    <td class="value" colspan="5">{{outlet.FullAddress}}</td>
                                    <td class="title">Outlet type:</td>
                                    <td class="value">{{outlet.OutletTypeName}}</td>
                                </tr>
                                <tr >
                                    <td class="title">Distance:</td>
                                    <td class="value">{{outlet.Distance}}</td>
                                    <td class="title">SR/DSM:</td>
                                    <td class="value">{{outlet.Name}}</td>
                                    <td class="title">Tel:</td>
                                    <td class="value">{{outlet.Phone}}</td>
                                    <td class="title">Last contact:</td>
                                    <td class="value">{{outlet.LastContact}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="header" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <table>
                                <tr>                                  
                                    <td class="value" colspan="5">{{outlet.FullAddress}}</td>                                    
                                </tr>                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="title" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <span class="text">123 Nguyen Dinh Chieu - Quan 1 - Ho Chi Minh</span>
                        </div>
                    </div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="title" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <span class="text">123 Nguyen Dinh Chieu - Quan 1 - Ho Chi Minh</span>
                        </div>
                    </div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="title" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <span class="text">123 Nguyen Dinh Chieu - Quan 1 - Ho Chi Minh</span>
                        </div>
                    </div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="title" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <span class="text">123 Nguyen Dinh Chieu - Quan 1 - Ho Chi Minh</span>
                        </div>
                    </div>
                </div>
                <div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="outlet-item-col1"> <div class="circle">1</div> </div>
                    <div class="outlet-item-col2">
                        <span class="title" ng-click="openOutlet($index)">{{outlet.Name}}</span>
                        <span class="distance">200 m</span>
                        <div class="content">
                            <span class="text">123 Nguyen Dinh Chieu - Quan 1 - Ho Chi Minh</span>
                        </div>
                    </div>
                </div>
                <!--<div class="outlet-item" ng-repeat="outlet in outlets">
                    <div class="circle">1</div>
                    <div class="content">
                        <div class="outlet-list-item-header" ng-click="openOutlet($index)">{{outlet.Name}}</div>
                        <table>
                            <tr>
                                <td  class="title">Address:</td>
                                <td colspan="5"  class="content1">{{outlet.FullAddress}}</td>
                                <td ng-show="showFullOutlet"  class="title1">Outlet type:</td>
                                <td ng-show="showFullOutlet"  class="content2">{{outlet.OutletTypeName}}</td>
                            </tr>
                            <tr ng-show="showFullOutlet">
                                <td  class="title">Distance:</td>
                                <td  class="content2">{{outlet.Distance}}</td>
                                <td  class="title">SR/DSM:</td>
                                <td  class="content2">{{outlet.Name}}</td>
                                <td  class="title">Tel:</td>
                                <td><div>{{outlet.Phone}}</td>
                                <td  class="title1">Last contact:</td>
                                <td  class="content2">{{outlet.LastContact}}</td>
                            </tr>
                        </table>
                    </div>
                </div>-->
            </div>
        </div>

        <div id="view-map" onclick="hideDropdown();">
            <div id="map" class="view-map-content"></div>
        </div>

         <div id="home-bottom" ng-show="showNaviBar">
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">                
                <img src="assets/img/arrow-left.svg" />
            </button> 
            <div class="contentbox">  
                1 / 1
            </div>
            <button ng-disabled="currentPage >= outlets.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                <img src="assets/img/arrow-right.svg" />
            </button>            
            <div class="searchbox">
                <input class="search" placeholder="Search" ng-model="searchName" ng-change="searchChanged()">
                <img src="assets/img/search.svg" class="search-img" ng-show="showSearchImg" />
                <img src="assets/img/clear.svg" class="search-img" ng-show="showClearSearchImg" ng-click='clearSearch()'/>
            </div>   
        </div>     
    </div>
</body>
</html>